{% extends "base.html" %}

{% block title %}Games{% endblock %}

{% block content %}
<style>td,th {text-align:left; padding: 2px; font-family: sans-serif;}</style>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Time</th>
            <th>League</th>
            <th>Sport</th>
            <th>Watch</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr>
            <td>{{ game.name }}</td>
            <td>{{ game.time }}</td>
            <td>{{ game.league }}</td>
            <td>{{ game.sport }}</td>
            <td>
                {% for link in game.watch_links.all %}
                <p><a href="{{ link.url }}" target="_blank">{{ link.label }}</a></p>
                {% endfor %}
                {% if game.watch_links.count == 0 %}
                {% for network in game.networks.all %}
                <p>{{ network }}</p>
                {% endfor %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}